// 변수 처리

// site width
// $siteWidth: 1320px;

// text size
$fontSizeTiny: 12px;
$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text size
$titleFontSizeSmall: 29px;
$titleFontSizeNormal: 31px;
$titleFontSizeMid: 38px;
$titleFontSizeBig: 42px;

// 색상 정의
// background color
$layoutBg: #fff; // white
$mainfooterBg: #f5f7fa; // 메인 푸터 배경
$subFooterBg1: #f1f1f1; // 서브페이지 푸터1 배경
$subFooterBg2: #30343f; // 서브페이지 푸터2 배경
$subFooterBg3: #3b414d; // 서브페이지 푸터3 배경
$subNavBg: #04264c; // 서브페이지 메뉴 배경
$GrayBg: #f4f4f4; // 연한회색 배경
$navBg: #04274b; // 전체메뉴 배경

// font color
$fontColorBasic: #222; // 기본 글자색(검정)
$fontColorGray: #666; // 그레이 글자
$fontColorPrimary: #0d509a; // 강조 글자(바다색)
$fontColorNavy: #003478; // 강조 글자(남색)
$fontcolorHover: #ffc400; // 탑메뉴 호버색(노란색)

// button color
$gbtnColorGray1: #e6e6e6; // 연한 회색 버튼 배경
$gbtnColorGray2: #767d83; // 진한 회색 버튼 배경
$gbtnColorBlue1: #3d7ece; // 연한 파랑 버튼 배경
$gbtnColorBlue2: #004fa8; // 진한 파랑 버튼 배경
$gbtnColorRed: #d1463b; // 빨강 강조 버튼

// border color
$borderGray: #e0e0e0; // 연한 회색 선
